* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#dff6fe 35%, #cfe2fd 65%);
  background-attachment: fixed;
}

.home_page {
  width: min(1400px, 96%);
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 24px;
}

@media (min-width: 1800px) {
  .home_page {
    width: 1400px;
  }
}

.header_home {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
